*{padding: 0;margin: 0;border: 0;}
*,*::before,*::after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}


:root {
    --text: #2B3044;
    --line: #BBC1E1;
    --line-active: #275EFE;
  }
  p {
    font-size: 17px;
    margin: 0;
    color: var(--text);
  }
  p a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: inherit;
    margin: 0 var(--spacing, 0px);
    transition: margin 0.25s;
  }
  p a {
    margin: 0px 4.5px;
  }
  
  p a svg {
    width: 76px;
    height: 40px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 7px) translateZ(0);
    fill: none;
    stroke: var(--stroke, var(--line));
    stroke-linecap: round;
    stroke-width: 2px;
    stroke-dasharray: var(--offset, 69px) 278px;
    stroke-dashoffset: 361px;
    transition: stroke 0.25s ease var(--stroke-delay, 0s), stroke-dasharray 0.35s;
  }
  p a:hover {
    --spacing: 4px;
    --stroke: var(--line-active);
    --stroke-delay: .1s;
    --offset: 180px;
  }
  html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }
  * {
    box-sizing: inherit;
  }
  *:before, *:after {
    box-sizing: inherit;
  }
  .part_1 {
    min-height: 100vh;
    display: flex;
    font-family: 'Inter', Arial;
    justify-content: center;
    align-items: center;
    background: #F6F8FF;
    letter-spacing: 1px;
  }

  /* ---------------------------------------------------------------------------------------------- */

  :root {  
    --purple: rgb(123, 31, 162);
    --violet: rgb(103, 58, 183);
    --pink: rgb(244, 143, 177);
  }
  
  @keyframes background-pan {
    from {
      background-position: 0% center;
    }
    
    to {
      background-position: -200% center;
    }
  }
  
  @keyframes scale {
    from, to {
      transform: scale(0);
    }
    
    50% {
      transform: scale(1);
    }
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    
    to {
      transform: rotate(180deg);
    }
  }
  
.part_2 {
    background-color: rgb(10, 10, 10);
    display: grid;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
    place-items: center;
  }
  
  h1 {
    color: white;
    font-family: "Rubik", sans-serif;
    font-size: clamp(2em, 2vw, 4em);
    font-weight: 400;
    margin: 0px;
    padding: 20px;
    text-align: center;
    transition: all 0.4s;
  }
  h1 > .magic {
    display: inline-block;
    position: relative;
  }
  h1 > .magic > .magic-text {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
      to right,
      var(--purple),
      var(--violet),
      var(--pink),
      var(--purple)
    );
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
  }
  
  /* ---------------------------------------------------------------------------------------------- */
  .part_3{
    min-height: 100vh;
    background: #333;
    display: flex;
    justify-content: center;
    font-family: consolas;
}

.container{
    width:1040px;
    padding:30px 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
    margin: 0px -20px;
}
@media (max-width: 992px) {
  .columns:nth-child(1){
    flex: 1 1 100%;
  }
  .columns:nth-child(2){
    flex: 1 1 100%;
  }
  .columns:nth-child(3){
    flex: 1 1 100%;
  }
  
}
.columns{
  flex: 0 1 33%;
  padding:0 20px;
}
.container .card{
    position: relative;
    cursor: pointer;
}

.container .card .face{
  border-radius: 10px;
  height: 200px;
  transition: 0.6s;
}

.face.face1{
    border-radius: 10px;
    position: relative;
    background: rgb(45, 40, 40);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);                               /* Первый */
}

.container .card:hover .face.face1{
    background: #ff0055c2;
    transform: translateY(0);
    border-radius: 10px 10px 0 0 ;
}

.container .card .face.face1 .content{
  opacity: 0.7;
  transition: 0.6s;
}

.container .card:hover .face.face1 .content{
  position: relative;
  opacity: 1;
}

.container .card .face.face1 .content img{
    max-width: 100px;
    opacity: 0;
    transition: 0.6s;
}
.container .card:hover .face.face1 .content img{
  opacity: 1;
}
.container .card .face.face1 .content h3{
  position: absolute;
  top: 38%;
  left: 50%;
  -webkit-transform: translate(-50%,50%);
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    transition: 0.6s;
}
.container .card:hover .face.face1 .content h3{
  position: absolute;
  top: 93%;
  left: 50%;
}
.container .card .face.face2{
  border-radius: 12px;
  line-height: 150%;
  position: relative;
  background: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);                            /* Второй */
}

.container .card:hover .face.face2{
    transform: translateY(0);
    border-radius: 0 0 10px 10px;
    background: rgba(255, 255, 255, 1)
}

.container .card .face.face2 .content p{
    margin: 0 ;
    padding: 0;
}

.container .card .face.face2 .content a{
    margin: 15px 0px 0px 160px;
    font-size: 16px;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: black;
    transition:all 0.3s;
    border:2px solid rgba(0, 0, 0, 0.0)
}

.container .card .face.face2 .content a:hover{
    transform: scale(1.02, 1.02);
    border-bottom:2px solid black;
    
}


/* ---------------------------------------------------------------------------------------------- */